{% extends 'base.html' %} 
{% block title %}company{% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <h1>MajesTIC</h1>
            <h3>Innovación a Través del Código</h3>
            <p>
                En MajesTIC, nos apasiona el desarrollo de software y la creación de soluciones 
                impactantes. Nuestro equipo está compuesto por profesionales apasionados y creativos 
                que se esfuerzan por superar los límites y ofrecer resultados excepcionales. Aquí está lo que nos define:
            </p>
            <br>
            <h3>Nuestros Conocimientos y Habilidades</h3>
            <h4>Lenguajes de Programación:</h4>
            <p>
                Java: Desarrollamos aplicaciones empresariales sólidas utilizando Java. Desde sistemas de gestión hasta aplicaciones de análisis financiero, Java es nuestro aliado confiable. <br>
                JavaScript: Creamos experiencias interactivas en la web utilizando frameworks como React y Vue.js. Nuestros sitios web dinámicos y atractivos son impulsados por JavaScript. <br>
                Python: Exploramos Python para análisis de datos, automatización de tareas y desarrollo web. ¿Tienes un problema? Python tiene una solución elegante. <br>
                PHP: Nuestro equipo domina PHP y frameworks como Laravel para crear aplicaciones web dinámicas y escalables. <br>
                Kotlin: Nos aventuramos en el desarrollo de aplicaciones Android con Kotlin. La eficiencia y la seguridad son nuestras prioridades. <br>
                Dart: Utilizamos Dart para crear aplicaciones móviles con Flutter. La velocidad de desarrollo y la UI atractiva son fundamentales. <br>
                SQL y NoSQL: Diseñamos bases de datos relacionales (SQL) y NoSQL (como MongoDB) según las necesidades del proyecto. <br>
            </p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/img3.png' %}" alt="Equipo de MajesTIC" class="img-fluid">
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Misión</h2>
            <p>
                En MajesTIC, nuestra misión es liderar el camino en el desarrollo tecnológico, ofreciendo soluciones 
                innovadoras y de vanguardia que transformen la vida de las personas y las empresas. Nos dedicamos a 
                proporcionar productos y servicios de calidad excepcional, adaptados a las necesidades específicas de 
                cada cliente, y nos esforzamos por superar constantemente sus expectativas. A través de nuestro 
                compromiso con la excelencia y la atención al detalle, buscamos impulsar el progreso y la eficiencia 
                en todos los sectores en los que operamos.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Visión</h2>
            <p>
                Nuestra visión en MajesTIC es ser reconocidos a nivel mundial como líderes en innovación tecnológica 
                y desarrollo de soluciones de alta calidad. Nos esforzamos por ser pioneros en la creación de tecnologías
                que mejoren la vida de las personas y contribuyan al crecimiento sostenible de las empresas. 
                Nos visualizamos como socios de confianza para nuestros clientes, colaboradores y comunidades, 
                impulsando el cambio positivo a través de nuestra dedicación a la excelencia, la creatividad y 
                la responsabilidad social. En MajesTIC, aspiramos a un futuro donde la tecnología no solo sea 
                avanzada, sino también accesible y beneficiosa para todos.
            </p>
        </div>
    </div>
</div>
{% endblock %}
