{% extends 'base.html' %} 
{% block title %}company{% endblock title %}
{% load static %}
{% block content %}
<div class="who-are-we">
    <div>
        <h1>¿Quiénes somos?</h1>
        <h3>MajesTIC: Innovación Tecnológica y Desarrollo de Vanguardia</h3>
        <p>
            En MajesTIC, nos comprometemos a superar constantemente los límites de la innovación y la excelencia 
            en el desarrollo tecnológico. Día a día, dedicamos nuestros esfuerzos a perfeccionar nuestros productos 
            y servicios para garantizar una experiencia incomparable a nuestros clientes. No nos conformamos 
            con satisfacer las expectativas, sino que nos esforzamos por superarlas en cada proyecto que emprendemos.
        </p>
        <br>
        <p>
            Nuestra especialidad abarca un amplio espectro en el ámbito tecnológico. Si bien somos reconocidos 
            por nuestro trabajo en el desarrollo de productos de domótica, nuestra experiencia se extiende mucho 
            más allá. Desde el diseño de software hasta su implementación y mantenimiento, nos destacamos 
            por nuestra capacidad para adaptarnos a las necesidades específicas de cada cliente.
        </p>
        <br>
        <p>
            En MajesTIC, nos regimos por los más altos estándares y métricas de calidad en todo lo que hacemos. 
            Nos enorgullece decir que nuestra dedicación a la excelencia se refleja en cada línea de código que 
            escribimos y en cada solución que entregamos.
        </p>
        <br>
        <p>
            Nuestro portafolio de proyectos exitosos es testimonio de nuestra habilidad para ofrecer soluciones 
            efectivas y de calidad. Ejemplos claros incluyen el Sistema de Gestión de Inventario para Textiles RG 
            (SGITRG) y el Sistema de Punto de Venta para Papelería Sánchez (SPVPS), proyectos que no solo han 
            cumplido con las expectativas, sino que han superado las necesidades y objetivos de nuestros clientes.
        </p>
        <br>
        <p>
            En MajesTIC, no solo creamos tecnología. Creamos experiencias. Estamos comprometidos con la satisfacción 
            del cliente y con el impulso de la innovación en cada paso del camino. Únase a nosotros en nuestro viaje 
            hacia un futuro más inteligente, más conectado y más MajesTIC.
        </p>
    </div>
    <div>
        <img src="{% static 'img/equipo1.jpg' %}" alt="" width="374" height="246" />
    </div>
</div>
<div class="mision-vision">
    <div>
        <h2>Misión</h2>
        <p>
            En MajesTIC, nuestra misión es liderar el camino en el desarrollo tecnológico, ofreciendo soluciones 
            innovadoras y de vanguardia que transformen la vida de las personas y las empresas. Nos dedicamos a 
            proporcionar productos y servicios de calidad excepcional, adaptados a las necesidades específicas de 
            cada cliente, y nos esforzamos por superar constantemente sus expectativas. A través de nuestro 
            compromiso con la excelencia y la atención al detalle, buscamos impulsar el progreso y la eficiencia 
            en todos los sectores en los que operamos.
        </p>
    </div>
    <div>
        <h2>Visión</h2>
        <p>
            Nuestra visión en MajesTIC es ser reconocidos a nivel mundial como líderes en innovación tecnológica 
            y desarrollo de soluciones de alta calidad. Nos esforzamos por ser pioneros en la creación de tecnologías
            que mejoren la vida de las personas y contribuyan al crecimiento sostenible de las empresas. 
            Nos visualizamos como socios de confianza para nuestros clientes, colaboradores y comunidades, 
            impulsando el cambio positivo a través de nuestra dedicación a la excelencia, la creatividad y 
            la responsabilidad social. En MajesTIC, aspiramos a un futuro donde la tecnología no solo sea 
            avanzada, sino también accesible y beneficiosa para todos.
        </p>
    </div>
</div>
{% endblock %}