{% extends 'base.html' %} 
{% block title %}company{% endblock title %}
{% load static %}
{% block content %}
<div class="who-are-we">
    <div>
        <h1>¿Quiénes somos?</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel architecto
            sint itaque beatae ullam. Earum facere numquam dolorum saepe sequi,
            voluptate corrupti blanditiis asperiores! Nisi, earum tenetur? Nesciunt,
            eum. Dolorem. 
        </p>
    </div>
    <div>
        <img src="{% static 'img/equipo1.jpg' %}" alt="" width="374" height="246" />
    </div>
</div>
<div class="mision-vision">
    <div>
        <h2>Misión</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel architecto
            sint itaque beatae ullam. Earum facere numquam dolorum saepe sequi,
            voluptate corrupti blanditiis asperiores! Nisi, earum tenetur? Nesciunt,
            eum. Dolorem.
        </p>
    </div>
    <div>
        <h2>Visión</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel architecto
            sint itaque beatae ullam. Earum facere numquam dolorum saepe sequi,
            voluptate corrupti blanditiis asperiores! Nisi, earum tenetur? Nesciunt,
            eum. Dolorem.
        </p>
    </div>
</div>
<br />
<h2>Contactar empresa</h2>
<br />

{% endblock %}