{% extends 'base.html' %}


{% block title %} contact {% endblock title %}

{% load static %}

{% block content %}

<h1>Preguntas frecuentes</h1>
<br>
<form action="">
    <p>Nombre: <input type="text" name="Name" id="name" required></p>
    <br>
    <p>Correo electrónico: <input type="email" name="Email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></p>
    <br>
    <p>Télefono: <input type="tel" name="Phone" id="" pattern="^\d{10}$" required></p>
    <br>
    <p>Dirección: <input type="text" name="Address" id="" required></p>
    <br>
    <p>Pregunta: <textarea name="Question" id="" cols="30" rows="10" required></textarea></p>
    <br>
    <div class="submit-container">
        <input type="submit" value="Enviar pregunta">
    </div>
</form>
<script src="{% static 'js/dataValidation.js' %}"></script>

{% endblock %}