{% extends 'base.html' %}


{% block title %} contact {% endblock title %}

{% load static %}

{% block content %}

<h1>Preguntas frecuentes</h1>
<br>
<div class="faq-section">
    <h2>Preguntas Frecuentes</h2>

    <div class="faq-item">
        <details>
            <summary>
                <h3>¿Cómo puedo registrarme en la aplicación?</h3>
            </summary>
            <p id="answer"> Para registrarte en la aplicación, simplemente ve a la página de registro y completa el formulario con tus
                datos.</p>
            </details>
    </div>

    <div class="faq-item">
        <details>
            <summary>
                <h3>¿Qué métodos de pago aceptan?</h3>
            </summary>
                <p id="answer">Aceptamos tarjetas de crédito, transferencias bancarias y PayPal como métodos de pago.</p>
        </details>
    </div>

    <div class="faq-item">
        <details>
            <summary>
              <h3>¿Cómo puedo contactar al servicio de soporte?</h3>
            </summary>
            <p id="answer">Puedes contactar a nuestro servicio de soporte enviando un correo electrónico a support@example.com o
                llamando al número +123456789.</p>
            </div>
        </details>
</div>

<h3>Tienes alguna otra pregunta</h3>
<p>Dejanosla saber complerando el formulario a continuacion y nosotors nos pondremos en contacto contigo lo mas pronto posible</p>
<form action="">
    <p>Nombre: <input type="text" name="Name" id="name" required></p>
    <br>
    <p>Correo electrónico: <input type="email" name="Email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></p>
    <br>
    <p>Télefono: <input type="tel" name="Phone" id="" pattern="^\d{10}$" required></p>
    <br>
    <p>Dirección: <input type="text" name="Address" id="" required></p>
    <br>
    <p>Pregunta: <textarea name="Question" id="" cols="30" rows="10" required></textarea></p>
    <br>
    <div class="submit-container">
        <input type="submit" value="Enviar pregunta">
    </div>
</form>
<script src="{% static 'js/dataValidation.js' %}"></script>
<script src="{% static 'js/detail.js' %}"></script>

{% endblock %}