{% extends 'base.html' %}


{% block content %}
<div class="faq-section">
    <h2>Preguntas Frecuentes</h2>

    <div class="faq-item">
        <details>
            <summary>
                <h3>¿Cómo puedo registrarme en la aplicación?</h3>
            </summary>
            <p id="answer"> Para registrarte en la aplicación, simplemente ve a la página de registro y completa el formulario con tus
                datos.</p>
            </details>
    </div>

    <div class="faq-item">
        <details>
            <summary>
                <h3>¿Qué métodos de pago aceptan?</h3>
            </summary>
                <p id="answer">Aceptamos tarjetas de crédito, transferencias bancarias y PayPal como métodos de pago.</p>
        </details>
    </div>

    <div class="faq-item">
        <details>
            <summary>
              <h3>¿Cómo puedo contactar al servicio de soporte?</h3>
            </summary>
            <p id="answer">Puedes contactar a nuestro servicio de soporte enviando un correo electrónico a support@example.com o
                llamando al número +123456789.</p>
            </div>
        </details>

          <div class="faq-item">
            <details>
            <summary>
              <h3>¿Sirve para mi telefono?</h3>
            </summary>
            <p id="answer">Sí, la aplicacion esa diseñada para que se pueda correr en los dispositivos mas modernos y no tan recientes .</p>
            </div>
        </details>

    <div class="faq-item">
        <details>
            <summary>
              <h3>¿Me jala cuando quiera?</h3>
            </summary>
            <p id="answer">
                La aplicacion sigue registrando los datos aun que no tengas conexion a Wi-Fi, solo cuando te conectes a ella podras consultarlos de nuevo 
            </p>
        </details>
            </div>
<div class="faq-item">
    <details>
        <summary>
            <h3>¿Cuanto tiempo me va a servir ?</h3>
            </summary>
            <p id="answer">
                El tiempo de vida util del prototico SMCA es alrededor de 2 a 4 años de duracion constante
            </p>
            </div>
        </details>
    </div>
    
    
</div>
{% endblock %}
    