{% extends 'base.html' %}


{% block title %}  producto {% endblock title %}

{% load static  %}


{% block content  %}

<h2>¿Cómo funciona la aplicación móvil</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum pariatur eveniet ducimus dolores ab maiores architecto minus mollitia. Iure accusamus quibusdam molestiae dolore at debitis. Ipsa pariatur quos maxime iste?</p>

<h2>¿Cómo funciona el producto?</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aut illo velit ea quod beatae quaerat, ut blanditiis pariatur sed perspiciatis dolores voluptatum, modi exercitationem ducimus accusamus non expedita veniam.</p>
<br>

<h2>Descargar la aplicación aquí</h2>
<br>

{% endblock %}

