{% extends 'base.html' %}


{% block title %}  producto {% endblock title %}

{% load static  %}


{% block content  %}

<section class="product-section">
    <div>
        <article class="left-block">
            <div>
                <h2>¿Cómo funciona la aplicación móvil</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum pariatur eveniet ducimus dolores ab maiores architecto minus mollitia. Iure accusamus quibusdam molestiae dolore at debitis. Ipsa pariatur quos maxime iste?</p>
            </div>
            <div>
                <img src="{% static 'img/phone1.png' %}" alt="" width="146" height="174">
            </div>
        </article>
        <article class="left-block">
            <div>
                <img src="{% static 'img/phone1.png' %}" alt="" width="146" height="174">
            </div>
            <div>
                <h2>¿Cómo funciona el producto?</h2>    
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam aut illo velit ea quod beatae quaerat, ut blanditiis pariatur sed perspiciatis dolores voluptatum, modi exercitationem ducimus accusamus non expedita veniam.</p>
            </div>
        </article>
    </div>

    <aside class="right-block">
        <h2>Descargar la aplicación aquí</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero cumque doloremque non odio beatae dolor inventore quibusdam eligendi quae facilis numquam consectetur, rem nobis aliquid delectus id mollitia molestiae quaerat.</p>
    </aside>
</section>

{% endblock %}

