{% extends 'base.html' %}

{% block title %} Producto {% endblock title %}

{% load static %}

{% block content %}
<div class="container py-5">
  <div id="firebaseui-auth-container"></div>
  <h2 class="text-center mb-4">Formulario de Registro</h2>
  <form id="register-form" class="mx-auto" style="max-width: 400px;">
    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Ingrese su correo electrónico">
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña">
    </div>
    <div class="form-group">
      <label for="confirm-password">Confirmar Contraseña:</label>
      <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Confirme su contraseña">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
  </form>
</div>

<section class="product-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/phone1.png' %}" class="card-img-top" alt="Imagen de la aplicación móvil">
          <div class="card-body">
            <h5 class="card-title">¿Cómo funciona la aplicación móvil?</h5>
            <p class="card-text">
              Nuestra aplicación móvil es increíblemente fácil de usar; su interfaz intuitiva te sorprenderá. Registrarse dentro de la aplicación es todo lo que necesitas para comenzar. Una vez registrado, solo tienes que iniciar sesión y, ¡listo! Nuestro Sistema de Monitoreo para Contenedores de Agua (SMCA) se detectará automáticamente, permitiéndote disfrutar de todas sus funcionalidades sin ningún problema.
              Desde nuestra aplicación puedes configurar el tiempo para encender y apagar su bomba de suministro de agua. También contamos con una opción para hacer un suministro de agua eficiente y evitar el desabasto.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-100">
          <img src="{% static 'img/bomba.png' %}" class="card-img-top" alt="Imagen del producto">
          <div class="card-body">
            <h5 class="card-title">¿Cómo funciona el producto?</h5>
            <p class="card-text">
              El SMCA es un sistema que utiliza un sensor que emite una onda ultrasónica, la cual es recuperada de la misma manera. Capturamos los datos obtenidos durante este proceso y los mostramos en la <a class="download1" href="#">Aplicación Móvil</a> para que el usuario los interprete fácilmente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="right-block py-5 bg-light text-center">
  <div class="container">
    <h2>Descargar la aplicación aquí</h2>
    <a href="#" class="btn btn-primary btn-lg download-btn">Descargar Aplicación</a>
  </div>
</section>

<script src="{% static 'js/credentials.js' %}"></script>

{% endblock %}