<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Proyecto SMCA {% block title %}{% endblock%}</title>
    {% load static%}

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

    <header>

        <div class="logo-header">
            <img src="{% static 'img/logo1.png' %}" alt="">
        </div>

        <nav class="nav-menu">
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'product' %}">Productos</a></li>
                <li><a href="{% url 'contact' %}">Preguntas FAQ</a></li>
                <li><a href="{% url 'company' %}">Compañia</a></li>
            </ul>
        </nav>
    </header>



    {% block content %}
    {% endblock %}





    <footer>
        <p>MajesTIC</p>
        <br>
        <p>Copyright© 2024</p>
        <p><a href="#">Información legal</a> | <a href="#">Política de privacidad</a></p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>


</body>

</html>